@charset "UTF-8";

section {border: 4px dashed;
margin: 2em; 
padding:1em;
color: #753;}

section p {border: 1px solid;
width:650px; height: 600px;}

#sec01, #sec02,#sec03,#sec04 {float:left;}

#sec01 p {overflow:visible;}
#sec02 p {overflow:hidden;}
#sec03 p {overflow:scroll;}	/* 무조건 scroll이 생김*/
#sec04 p {overflow:auto;}	/*자기가 알아서 가로 세로 있고 없고를 조절함 */

#sec03 img, #sec04 img {width: 50px;}	/* 사이즈 줄였는데도 스크롤이 있음 */