@charset "UTF-8";

section {border: 4px dashed;
margin: 2em; 
padding:1em;
 color: #753; }

section p {border: 1px solid;
width: 650px;  height:600px; }

#sec01, #sec02, #sec03, #sec04 {
float: left;}

#sec01 p {overflow: visible;}
#sec02 p {overflow: hidden;}
#sec03 p {overflow: scroll;}
#sec04 p {overflow: auto;}

#sec03 img, #sec04 img {width: 50px;}


#sec05 {clear: both;/* float의 영향 해제
(밀고 올라갔었던 공간을 제자리로..) */}

#sec05 p {width: 400px;
height: 20px;
/* 말줄임표 삼총사 */
white-space: nowrap; /* 강제 줄바꿈 안함 */
overflow: hidden; /* 영역 밖의 내용 숨김 */
text-overflow: ellipsis; /* ...으로 표시 */}

#sec05 p:hover {
width: 500px;	
transition: 1.7s;}
















