@charset "EUC-KR";

body {background-color: #000;
color: #fff;}

h2{border-bottom: 4px double;
color:#037;}
.clear {clear: both; /* float의 영향을 해제*/} 

table {background-color: #3af; 
margin:3em 2em;
color: #fff;
width:500px;}

th, td {border: 1px solid;}

	/*table-layout */
	
#left, #right {float: left;}

#right {height: 500px;}

#right th {height:50px;}

.lef {text-align: left;}
.cen {text-align: center;}

.rig {text-align: right;}

.top {vertical-align:top;}

.bot {vertical-align:bottom;}



.tab01, .tab02 {float:left;}

.tab02{table-layout: fixed;}

	/* */
	
.tab03 {border-spacing:0;}
.tab04 {border-spacing:10px;}
.tab05 {border-spacing:10px 5px;}


/* border- */

.tab06 {border-collapse: collapse;}



.st {background-color: #ccc;}

/* */

#stripe-even, #stripe-odd{float:left;}

#stripe-even tr:nth-of-type(2n){
	/* (2n)은 짝수, (even) */
	background-color: #ccc;}

#stripe-odd tr:nth-of-type(2n-1){
	/* (2n-1)은 홀수, (odd) */
	background-color:#ccc;}
	

	
	
/* caption {border: 1px solid;} */

caption {border: 1px solid;}

#stripe-odd caption{
	padding-bottom: 0.5em;
	padding-right: 0.8em;
	text-align: right;
}

#hover tr:hover{
	background-color:#000;
	cursor : pointer;
}